@model SearchViewModel

@{
    ViewData["Title"] = $"Search Results {Model.SearchText}";
}

<h2>@ViewData["Title"]</h2>


@if (Model.Clothes.Any())
{
    <h3>Found products</h3>

    <div class="row">
        @await Html.PartialAsync("_ClothesListingsPartial", Model.Clothes)
    </div>
}
else
{
    <h3>No products to show.</h3>
}

